@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@using System.Web.Optimization
@model PageViewModel<EpiserverBH.Models.Pages.HCP>



<header class="mainHeader">
    <!-- Products Header Starts -->
    <div class="container-fluid mini-header">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-9 col-sm-6 brand-logo-div">
                            <div id="logopane" >
                                @Html.PropertyFor(x => x.CurrentPage.HeaderLinksMobile, new { })
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 col-sm-6" id="TopLinks" >
                            @Html.PropertyFor(x => x.CurrentPage.HeaderLinksAboveMenu, new { })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Products Header Ends -->
    <!-- Menu Header Starts -->
    <div class="container-fluid menu-header">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-2 product-logo-div">
                            <div id="productlogopane" >
                                @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { })
                            </div>
                        </div>
                        <div class="col-10 main-nav">
                            <nav class="navbar">
                                <div id="productnavpane" >
                                    @Html.PropertyFor(x => x.CurrentPage.ContentArea_1, new { })
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Header Ends -->
</header>
<!-- Page Header Ends -->
